body{
    background-color: black;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    background-color: rgb(10, 116, 0);
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: rgb(184, 9, 9);
    text-decoration: none;
    display: block;
    padding: 15px;
    text-align: center;
} 
.navbar a:hover{
     background-color: rgb(7, 73, 1);
}
.navbar li{
    float: right;
}
h3{
    color: white;
}
img{
    border: 3px solid green;
}
tr{
    text-align: center;
}
td{
    width: 70px;
    border: 2px solid rgb(94, 7, 1);
}
th{
    width: 70px;
    border: 2px solid rgb(94, 7, 1);
}
table{
    border: 3px solid green;
    background-color: aqua;
}
#img1{
    float: left;
    margin-right: 10px;
}
h4{
    color: white;
    padding-left: 7px;
}
p{
    color: white;
    padding-left: 7px;
}
#box1{
    width: 40%;
    border: 2px solid red;
    background-color: rgb(0, 0, 65);
    float: left;
    
}